@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/* --------- MAIN STRUCTURE --------- */

body{
	background: #fff;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}
.wrapper{
	margin: auto;
	max-width: 1300px;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
h1, h2, h4{
	font-weight: 300;
}
h3 {
	font-weight: bold;
}
p{
	font-size: 18px;
}
hr {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	margin: 20px 0px;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
}
td {
	border: 1px solid #dee2e6;
	padding: 0.65rem;
	vertical-align: top;
}
tr:nth-child(odd) {
	background-color: #eaeaea;
}
.table-bordered {
	border: 1px solid #dee2e6;
}
a .fas {
	margin-right: 5px;
}
.hyperlink {
	color: #2C3E50;
	text-decoration: none;
}
.hyperlink:hover {
	text-decoration: underline;
}
.disabled_input {
	background-color: #dbdbdb !important;
	cursor: not-allowed;
}
.sidebar-image {
	grid-column: span 5;
	background: none;
	margin: 30px;
}
.sidebar-image img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.text-info {
	grid-column: span 12;
	margin-top: 20px;
	padding-bottom: 20px;
}
.button {
	color: #fff;
	background: #2C3E50;
	border-radius: 20px;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	margin-right: 15px;
}
.button:hover {
	background: #0f151b;
	transition: .3s;
}
.breadcrumbs {
	width: 100%;
	background: rgb(245, 245, 245);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 0px;
}
.breadcrumb-nav {
	list-style-type: none;
	grid-column: span 12;
}
.breadcrumb-nav li {
	margin-right: 10px;
	float: left;
}
.breadcrumb-nav li:after {
	content: " / ";
}
.breadcrumb-nav li a {
	color: #000;
	text-decoration: none;
}
.breadcrumb-nav li a:hover {
	text-decoration: underline;
}
#cookieChoiceInfo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	padding: 100px;
	border-radius: 5px;
	background: #fff !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px !important;
}
#cookieChoiceInfo-cover{ 
	position: fixed; 
	top: 0; 
	left: 0; 
	background: rgba(0,0,0,0.6); 
	z-index: 10; 
	width: 100%; 
	height: 100%;
}
#cookieChoiceInfo h1{
	margin-bottom: 30px;
}
#cookieChoiceInfo p {
	margin-bottom: 40px;
}
#cookieChoiceInfo a {
	text-decoration: none;
	color: #2C3E50;
	font-size: 20px;
	font-weight: 300;
}
#cookieChoiceInfo a:hover {
	text-decoration: underline;
}
#cookieChoiceInfo #cookieChoiceDismiss {
	margin-right: 0px;
	color: #fff !important;
	background: #2C3E50;
	padding: 7px 15px 10px 15px;
	border-radius: 20px;
}
#cookieChoiceInfo #cookieChoiceDismiss:hover {
	background: #0f151b;
	transition: .3s;
	text-decoration: none !important;
}
.error-404 {
	grid-column: span 12;
	text-align: center;
	margin: 80px 0px;
}

/* -------------- /END ------------- */

/* ------------- HEADER ------------ */

.header {
	padding: 25px 0px 25px 0px;
	width: 100%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.logo-section{
	grid-column: span 3;
}
.logo-section img{
	max-width: 230px;
}
.navigation{
	grid-column: span 9;
}
.nav {
	margin-top: 3px;
	float: right;
}
.nav li {
	float: left;
	margin-right: 20px;
	list-style-type: none;
	font-size: 20px;
	color: #282828;
	font-weight: 300;
}
.nav a li:last-child {
	margin-right: 0px;
	color: #fff;
	background: #2C3E50;
	padding: 7px 15px 7px 15px;
	border-radius: 20px;
	margin-top: -4px;
}
.nav a li:last-child:hover {
	background: #0f151b;
	transition: .3s;
}
.nav li a {
	color: #000;
	text-decoration: none;
}
.nav li a:hover {
	text-decoration: underline;
}

/* Admin */

.admin-header {
	background-color: #222222;
	padding: 10px;
}
.admin-links { 
	grid-column: span 12;
}
.admin-links a {
	float: right;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
}
.admin-links a:hover {
	text-decoration: underline;
}
.btn-primary.disabled, .btn-primary:disabled {
	background: #222222 !important;
	border-color: none !important;
	opacity: 1 !important;
}
.kapittelnavn {
	font-size: medium;
	box-sizing: border-box;
	background: rgb(245, 245, 245);
	margin-bottom: 15px;
	border-radius: 3px;
	padding: 10px 5px;
	margin: 20px;
	min-width: 300px;
	border: 1px solid #a9a9a9 !important;
}
.admin-black {
	background-color: #222222 !important;
	color: #FFF !important;
}
.admin-black .box_symbol {
	color: #FFF !important;
}
.admin-black:hover {
	opacity: .8;
}

/* -------------- /END ------------- */

/* ------------- CONTENT ----------- */

/* Hjemsiden */

.front-content {
	background: url('../img/homepage/mainimage.png')no-repeat center center;
	background-position: center bottom;	
	background-size: contain;
	min-height: 200px;
	padding-top: 70px;
	grid-column: span 12;
	text-align: center;
	background-color: #2C3E50;
}
.front-content h1, .front-content h2, .front-content h3, .front-content h4, .front-content h5, .front-content h6 {
	padding: 0px 40px 0px 40px;
	color: #fff;
}
.front-tab {
	grid-column: span 4;
	padding: 40px 20px 40px 20px;
	background: rgb(245, 245, 245);
	bottom: 100px;
	text-align: center;
	border: 1px solid #ededed;
	margin-bottom: 30px;
}
.first{
	border-bottom-left-radius: 5px !important;
}
.last{
	border-bottom-right-radius: 5px;
}
.front-section {
	grid-column:span 12;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
	grid-gap: 30px 0px;
	margin: 30px 0px;
}
.front-text {
	grid-column: span 7;
	padding: 30px;
}
.front-picture {
	grid-column: span 5;
	background-size: contain;
}
.front-picture img {
	max-width: 100%;
    max-height: 100%;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Utfordringer */

.challenge-box {
	grid-column: span 12;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
	background: rgb(245, 245, 245);
	padding: 20px 30px;
	border: 1px solid #ededed;
	border-radius: 2px;
	margin-bottom: 20px;
}
.challenge-image {
	grid-column: span 4;
}
.challenge-image img {
	max-height: 200px;
	width: 100%;
}
.challenge-info {
	grid-column: span 8;
	padding-left: 20px;
}
.challenge-info-text {
	width: 100%;
	margin-bottom: 10px;
}
.challenge-info-buttons {
	width: 100%;
}
.challenge-info-buttons .button {
	float: left;
}
.challenge-info-buttons .hyperlink {
	margin-left: 10px;
	color: #2C3E50;
	text-decoration: none;
}
#image-ufordringer-id {
	border-radius: 5px;
	cursor: pointer;
}
#image-ufordringer-id:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;;
}
/* Fiks et overlay for hovering av bilder? Testet her: */ 
.utfordringer_image_overlay {
	position: absolute;
	color: #f1f1f1;
	transition: .5s ease;
	opacity:0;
	color: #fff;
	font-size: 20px;
	color: #fff;
	padding: 20px;
	text-align: center;
    top: 18rem;
    left: 22rem;
}
/*
.challenge-image:hover .utfordringer_image_overlay {
	opacity: 1;
}
*/
.image-utfordringer-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}
.image-utfordringer-modal .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 1300px;
}
.challenge-info-buttons .hyperlink:hover {
	text-decoration: underline;
}
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* Medlem */

.medlem-form {
	margin-top: 20px;
	grid-column: span 7;
}
.medlem-form label {
	display: block;
	margin: 10px 0px 10px 0px;
	font-weight: 300;
}
.medlem-form input[type=text], .medlem-form input[type=password], .medlem-form input[type=name], .retning select {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 3px;
	display: inline-block;
	border: none;
	background: rgb(245, 245, 245);
	font-size: medium;
}
.medlem-form input[type=text]:focus, .medlem-form input[type=password]:focus, .medlem-form input[type=name]:focus {
	background-color: #dbdbdb;
	outline: none;
}
.retning {
	position: relative;
	display: block;
	height: 3em;
	line-height: 3;
	background: #2c3e50;
	overflow: hidden;
	border-radius: .25em;
}
.retning select {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 .5em;
	color: #000;
	cursor: pointer;
}
.retning select::-ms-expand {
	display: none;
}
.retning::after {
	content: '\276D';
	position: absolute;
	top: 1.4em;
	right: -2em;
	bottom: 0;
	padding: 0 2em;
	background: rgb(245, 245, 245);
	pointer-events: none;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	height: 60px;
	width: 60px;
}
.medlem-form p {
	margin: 20px 0px 20px 0px;
}
.medlem-form p a {
	color: #2C3E50;
	text-decoration: none;
}
.medlem-form p a:hover {
	text-decoration: underline;
}
.medlem-form hr {
  border: 1px solid #f7f7f7;
  margin: 20px 0px 20px 0px;
}
.medlem-button {
	width: 100%;
	margin: 5px 0px 20px 0px;
	background-color: #fff;
	color: #fff;
	padding: 17px 20px;
	border: none;
	cursor: pointer;
	font-size: medium;
	border-radius: 20px;
	background: #2C3E50;
	font-size: 20px;
	font-weight: 3000;
}
.medlem-button:hover {
	background: #0f151b;
	transition: .3s;
}
.medlem-info {
	margin: 30px;
	grid-column: span 5;
	margin-top:auto;
    margin-bottom:auto;
    text-align:center;
	background: rgb(245, 245, 245);
	border: 1px solid #ededed;
	padding: 40px;
	border-radius: 2px;
}
.success_label {
	grid-column: span 12;
	color: black;
	background: #DFF2BF;
	padding: 16px;
	border-radius: 5px;
	transition: .3s;
	margin-bottom: 10px;
}
.error_label {
	grid-column: span 12;
	color: black;
	background: #FFD2D2;
	padding: 16px;
	border-radius: 5px;
	transition: .3s;
	margin-bottom: 10px;
}
.label_text {
	width: 90%;
}
.label_text h3 {
	font-weight: 400;
	margin-bottom: 0px !important;
}
.member-list {
	grid-column: span 12;
}
.member-list table {
	margin: 0px !important;
}
.member {
	width: 100%;
	background: rgb(245, 245, 245);
	border: 1px solid #ededed;
	border-radius: 5px;
	color: #000;	
	margin-bottom: 10px;
}
.member-leading td {
	background-color: #dbdbdb;
	font-weight: 600;
	font-size: 16px;
}
.medlemskap-textarea {
	max-width: 718px;
	width: 100%;
	background: rgb(245, 245, 245);
	min-height: 150px;
	border: none;
	padding: 20px;
}
.member-sidebar-image img {
	margin-top: 60px;
	max-width: 550px;
}
#banner-animation {
	position: absolute;
	z-index: 1;
}
#person-animation {
	position: absolute;
	z-index: -1;
}

/* Kurskatalog */

.kurs_info {
	grid-column: span 12;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}
.box-wrapper {
	margin-top: 20px;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
    grid-template-rows: auto;
	grid-gap: 15px;
}
.box_thread {
	grid-column: span 6;
	padding: 35px 25px;
	background: rgb(245, 245, 245);
	border-radius: 5px;
	transition: .3s;
	color: #000;
}
.box_thread:hover{
	background: rgb(234, 234, 234);
}
.box_symbol {
	color: #2C3E50;
	text-align: center;
	float: left;
	width: 25%;
}
.box_info {
	float: left;
	width: 60%;
}
.box_info h2, .box_info h4 {
	margin-left: 10px;
}
.coming_soon {
	background: rgb(234, 234, 234) !important;
}
.coming_soon .box_info {
	margin-top: 5px;
}
.box_numbers {
	text-align: center;
	margin-top: 13px;
	float: left;
	width: 15%;
	color: #d3d3d3;
}
.course_select {
	grid-column: span 6;
	background: rgb(245, 245, 245);
	padding: 20px;
	border-radius: 5px;
	transition: .3s;
	color: #000;
	margin-bottom: 10px;
	margin-right: 8px;
	margin-left: 8px;
}
.course_select span {
	font-weight: 400;
}
.course_select:hover{
	background: rgb(234, 234, 234);
}
.course_select_info {
	float: left;
	width: 83%;	
}
.course_select_info h3 {
	font-weight: 400;
}
.course_select_symbol {
	color: #d3d3d3;
	float: left;
	width: 15%;
	text-align: right;
}
.course_jump_break {
	grid-column: span 12;
	margin: 20px 0px 20px 0px;
}
.course_jump_break h3 {
	font-weight: 400;
}
.add_course_select {
	grid-column: span 6;
	background: #222222;
	padding: 15px;
	padding-left: 25px;
	border-radius: 5px;
	transition: .3s;
	color: #fff;
	margin-bottom: 10px;
	margin-right: 6px;
	margin-left: 6px;
}
.add_course_select:hover{
	background: #2d2c2c;
}
.write-course {
	grid-column: span 12;
}
.write-course-buttons {
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
	grid-gap: 15px;
}
.write-course-buttons button {
	grid-column: span 6;
}
.save-course {
	background: rgb(245, 245, 245) !important;
	color: #000 !important;
	border: 1px solid #ededed !important;
}
.course_read_section {
	max-width: 900px;
}
.course_read_section p, .course_read_section h3 {
	margin-bottom: 10px;
}
.course_read_section h3 {
	font-size: 1.75rem
}
.kurs_placeholder {
	grid-column: span 12;
	background: rgb(245, 245, 245);
	padding: 35px 25px;
	border-radius: 5px;
}
.course-navigation {
	margin-top: 20px;
	grid-column: 100%;
	color: #000;
}
.course-navigation-select {
	color: #000;
	text-decoration: none;
	width: calc(50% - 25px);
	text-align: center;
	float: left;
	background: rgb(245, 245, 245);
	padding: 10px;
	transition: .3s;
}
.course-navigation-select:hover {
	background: rgb(234, 234, 234);
}
.course-navigation-select h3 {
	font-weight: 300;
}
.select-left {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.select-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.course-navigation-select .fas {
	margin-top: 7px;
	font-size: x-large !important;
	color: #d3d3d3;
}
.course-navigation-select .fa-long-arrow-alt-left {
	float: left;
	margin-left: 15px;
}
.course-navigation-select .fa-long-arrow-alt-right {
	float: right;
	margin-right: 15px;
}
.course-navigation-info-break {
	width: 100%;
	padding: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f7f7f7;
}

/* Om oss */

.kodesonen-story {
	grid-column: span 6;
}
.kodesonen-story-image {
	grid-column: span 6;
}
.kodesonen-story-image img {
	max-width: 550px;
}
.profile-box {
	grid-column: span 4;
	float: left;
}
.profile-box img {
	margin: auto;
	display: block;
	height: 150px;
	width: 150px;
	border-radius: 5px;
}
.profile-box h3 {
	font-weight: 300;
	margin: 20px 0px 10px 0px;
}
.profile-box p {
	margin-right: 30px;
	font-size: 16px;
}
.profile-box span {
	color: #999;
	font-weight: 300;
	font-size: large;
}
#steam {
	position: absolute;
	z-index: 1;
}
#om-oss-image {
	position: absolute;
	z-index: -1;
}
.profile-social-links {
	margin-top: 10px;
}
.profile-social-links a{
	color: #2C3E50;
	font-size: x-large;
}
.profile-social-links a:hover {
	color: rgb(0, 0, 0);
}

/* -------------- /END ------------- */

/* ------------- FOOTER ------------ */

.footer {
	margin-top: 30px;
	padding: 20px;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	grid-column: span 12;
}
.footer-trademark {
	margin-top: 5px;
	grid-column: span 4;
}
.footer-trademark a {
	color: #000;
	text-decoration: none;
}
.footer-trademark a:hover{
	text-decoration: underline;
}
.footer-hyperlinks{
	text-align: right;
	grid-column: span 8;
}
.footer-hyperlinks a {
	font-size: x-large;
	margin-left: 7px;
	color: #000;
}
.footer-hyperlinks a:hover{
	color: #2C3E50;
}

/* -------------- /END ------------- */