.closebtn {
	display: none;
}
.mobile_nav {
	display: none;
	font-size: 30px;
	cursor: pointer;
}

@media only screen and (max-width: 1325px) {
	.wrapper {
		padding: 0px 20px 0px 20px;
	}
}
@media only screen and (max-width: 1100px) {
	.wrapper {
		padding: 0px;
	}
	.admin-links {
		padding: 20px 0px 20px 0px;
	}
	.admin-links a {
		font-size: large;
	}
	.logo-section {
		grid-column: span 8;
	}
	.logo-section img {
		margin-left: 20px;
	}
	.navigation {
		grid-column: span 4;
	}
	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}
	.overlay-content {
		position: relative;
		top: 20%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}
	.overlay .closebtn {
		visibility: visible;
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
	.mobile_nav {
		display: inline-block;
		position: absolute;
		right: 0;
		margin-right: 20px;
		margin-top: -5px;
	}
	.nav li {
		width: 100%;
		margin-bottom: 10px;
	}
	.nav li a{
		color: #fff;
	}
	.nav a li:last-child {
		background: none;
		padding: 8px;
		margin-top: 0px;
		font-size: xx-large;
	}
	.nav a li:last-child:hover {
		text-decoration: underline;
		background: none;
	}
	
	.breadcrumb-nav {
		margin-left: 20px;
	}
	.challenge-box {
		margin: 20px;
	}
	.challenge-info .challenge-info-text {
		text-align: center;
	}
	.challenge-info .hyperlink {
		float: right;
	}
	.challenge-image img {
		max-height: none;
	}
	.image-utfordringer-modal .modal-content {
		width: 90%;
	}
	.error-404 {
		margin: 60px 20px;
	}
	.front-content {
		background: url('../img/homepage/mainimage-responsive.png')no-repeat center center;
		background-position: center bottom;	
		background-color: #2C3E50 !important;
		padding-bottom: 70px;
	}
	.front-section .front-c:nth-of-type(1) {
		order: 3;
	}
	.kodesonen-story {
		grid-column: span 12;
		padding: 0px 20px;
	}
	.kodesonen-story-image {
		grid-column: span 12;
		height: auto;
		margin-top: 30px;
		min-height: 200px;
	}
	.box-wrapper .profile-box {
		padding: 0px 20px;
	}
	.front-tab {
		grid-column: span 12;
		margin-bottom: 0px;
	}
	.front-text {
		grid-column: span 12;
	}
	.front-picture {
		grid-column: span 12;
	}
	.front-picture img {
		max-width: 500px;
		display:block;
		margin:auto;
		margin-top: 30px;
	}
	.box_thread {
		grid-column: span 12;
		margin: 0px 20px;
	}
	.kurs_info, .text-info {
		padding: 20px;
	}
	.medlem-form {
		grid-column: span 12;
		margin: 30px 20px;
	}
	.medlem-info {
		grid-column: span 12;
	}
	.add_course_select {
		grid-column: span 12;
	}
	.course_select {
		grid-column: span 12;
	}
	.sidebar-image {
		display: none;
	}
	.challenge-image {
		grid-column: span 12;
	}
	.challenge-info {
		margin: 20px 0px 20px 0px;
		grid-column: span 12;
	}
	.footer-trademark {
		grid-column: span 12;
		text-align: center;
	}
	.footer-hyperlinks {
		grid-column: span 12;
		margin-top: 30px;
		text-align: center;
	}
	.footer-hyperlinks a {
		font-size: xx-large;
	}
	.member-sidebar-image {
		display: none;
	}
	.member-list {
		margin: 0px 20px !important;
	}
	.course-navigation-info-break {
		padding: 0px !important;
	}
	.course_read_section img {
		max-width: 100% !important;
		height: auto !important; 
	}
	
	/* Kurskatalog innlegg */
	@media screen and (max-height: 960px) {
		.course_read_section {
			margin: 20px 20px;
		}
		.course_jump_break {
			width: 100%;
			margin-right: 0px !important;
		}
		p {
			width: 100%;
		}
		.course_read_section img {
			width: 100%;
		}
		.course-navigation-select .fas, .course-navigation-select h3 {
			font-size: large !important;
		}
	}

	@media screen and (max-height: 450px) {
	  .overlay a {font-size: 20px}
	  .overlay .closebtn {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	  }
	}
	
	@media only screen and (max-width: 1075px) {
		.front-content {
			padding-bottom: 120px;
		}
	}
	@media only screen and (max-width: 815px) {
		.front-content {
			padding-bottom: 170px;
		}
		.profile-box {
			grid-column: span 12;
			margin-bottom: 20px;
		}
	}
	@media only screen and (max-width: 610px) {
		.front-content {
			padding-bottom: 200px;
		}
		.overlay a {
			font-size: 26px !important;
		}
		.nav a li:last-child {
			font-size: 26px;
		}
		#cookieChoiceInfo {
			padding: 30px 25px;
			margin: 0px !important;
		}
		.authorPost-section {
			padding: 0px !important;
		}
		.authorPost-section h1 {
			padding: 20px;
			padding-bottom: 0px;
		}
		.authorPost-section p {
			padding: 0px 20px;
			max-width: 90% !important;
		}
		a .authorPost-button {
			margin-top: -50px;
			margin-left: -50px;
		}
		
	}

}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  .overlay-content {
	  top: 15% !important;
  }
}
@media only screen and (max-width: 330px){
  #cookieChoiceInfo {
    padding: 30px 15px;
	margin: 0px !important;
  }
}