.closebtn {
	display: none;
}
.mobile_nav {
	display: none;
	font-size: 30px;
	cursor: pointer;
}

@media only screen and (max-width: 1325px) {
	.wrapper {
		padding: 0px 20px 0px 20px;
	}
}
@media only screen and (max-width: 1100px) {
	.wrapper {
		padding: 0px;
	}
	.admin-links {
		padding: 20px 0px 20px 0px;
	}
	.admin-links a {
		font-size: x-large;
	}
	.logo-section {
		grid-column: span 8;
	}
	.logo-section img {
		margin-left: 20px;
	}
	.navigation {
		grid-column: span 4;
	}
	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}
	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}
	.overlay .closebtn {
		visibility: visible;
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
	.mobile_nav {
		display: inline-block;
		position: absolute;
		right: 0;
		margin-right: 20px;
		margin-top: -5px;
	}
	.nav li {
		width: 100%;
		margin-bottom: 10px;
	}
	.nav li a{
		color: #fff;
	}
	.nav a li:last-child {
		background: none;
		padding: 8px;
		margin-top: 0px;
		font-size: xx-large;
	}
	.nav a li:last-child:hover {
		text-decoration: underline;
		background: none;
	}

	@media screen and (max-height: 450px) {
	  .overlay a {font-size: 20px}
	  .overlay .closebtn {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	  }
	}
	
	.front-content {
		background: url('../img/homepage/mainimage-responsive.png')no-repeat center center;
		background-position: center bottom;	
		background-color: #2C3E50 !important;
		padding-bottom: 70px;
	}
	
	@media only screen and (max-width: 1075px) {
		.front-content {
			padding-bottom: 120px;
		}
	}
	@media only screen and (max-width: 815px) {
		.front-content {
			padding-bottom: 170px;
		}
	}
	@media only screen and (max-width: 610px) {
		.front-content {
			padding-bottom: 200px;
		}
	}
	
	.front-tab {
		grid-column: span 12;
		margin-bottom: 0px;
	}
	.front-text {
		grid-column: span 12;
	}
	.front-picture {
		grid-column: span 12;
	}
	.front-picture img {
		max-width: 500px;
		display:block;
		margin:auto;
		margin-top: 30px;
	}
	.box_thread {
		grid-column: span 12;
		margin: 0px 20px;
	}
	.kurs_info, .text-info {
		padding: 20px;
	}
	.medlem-form {
		grid-column: span 12;
		margin: 30px 20px;
	}
	.medlem-info {
		grid-column: span 12;
	}
	.course_jump_break {
		margin: 20px 20px;
	}
	.add_course_select {
		grid-column: span 12;
	}
	.course_select {
		grid-column: span 12;
	}
	.sidebar-image {
		display: none;
	}
	.challenge-image {
		grid-column: span 12;
	}
	.challenge-info {
		margin: 20px 0px 20px 0px;
		grid-column: span 12;
	}
	.footer-trademark {
		grid-column: span 12;
		text-align: center;
	}
	.footer-hyperlinks {
		grid-column: span 12;
		margin-top: 30px;
		text-align: center;
	}
	.footer-hyperlinks a {
		font-size: xx-large;
	}
}